p {
	color: red;
}
body {
	color:red;
	font-size: 30px;
}
table {
    border: 1px solid black;
	padding: 10px;
	font-family: cursive;
}
tr {
    color: white;
}   
td {
	padding: 10px;
	border: 2px solid blue;
	border-radius: 100%;
}
td:hover {
	color: #1f456d;
	text-decoration: underline;
}
div table {
    background-color: green;
	height: 200px;
	width: 300px;
	margin: auto;
	text-align: center;
}  
h1 {
	background-color: #99a123;
	font-family: sans-serif;
	width: 400px;
	clear: both;
	left: 50%;
}
h3 {
	background-color: #8b2a4c;
	font-family: serif;
	float: left;
	position: absolute;
}
a {
	text-decoration: none;
	margin: auto;
	text-align: center;
	width: 50px;
}
.bold {
	font-weight: bold;
}
#special {
	font-family: sans-serif;
	color: purple;
}
img {
	height: 90px;
	margin: auto;
	width: 144px;
	float: right;
	border-radius: 100%;
	position: fixed;
	left: 50%;
}
/*.inline {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 100px;
}*/
